// App
.App__container {
  margin: 2rem auto;
  width: 90vw;
}

.App__title {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;

  margin-bottom: 1.5rem;
}

.App__subtitle {
  font-size: 2rem;
  text-align: center;
  font-weight: 300;

  margin-bottom: 0.4rem;
}

// VehicleSelector
.v-selector__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  margin: 1.5rem 0;
}

.v-selector {
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: inherit;
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  height: 2.5em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

// VehicleList
.v-list__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: flex-start;

  margin: 2rem 0;
}

// VehicleItem
.v-item__container {
  min-width: $min-v-item-width;
  max-width: $max-v-item-width;

  padding: 1.5rem;
  padding-bottom: 0.75rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(#000, 0.15);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    // cursor: pointer;
  }
}

.v-item__field {
  margin-bottom: 1.25rem;
}

.v-item__title {
  font-size: 1.8rem;
  font-weight: 400;

  margin-bottom: 0.4rem;
}

.v-item__subtitle {
  font-size: 1rem;
  font-weight: 300;

  text-transform: uppercase;
  letter-spacing: 0.12rem;

  margin-bottom: 0.4rem;
}

.v-item__text {
  font-size: 1.4rem;
  text-align: center;

  margin-bottom: 0.4rem;
}

.v-item__value {
  font-size: 1.8rem;
  font-family: monospace;
  font-weight: 700;
}

.v-item__unit {
  font-size: 1.6rem;
  font-family: monospace;
  font-weight: 300;
}

.v-item__image {
  min-width: $min-v-item-width;
  max-width: $max-v-item-width;
}
