$min-v-item-width: 12rem;
$max-v-item-width: 18rem;

$font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
